# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
.spyproject/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml
